* {
    margin: 0;
    font-family: monospace;
    font-size: 18px;
    color: #424141;
}

.header {
    background-color: black;
    height: 60px;
    width: 100%;
    position: fixed;
}

ul {
    float: right;
}

ul li {
    display: inline-block;
    line-height: 60px;
    margin-right: 15px;
    color: #FFF;
}

a {
    text-decoration: none;
    color: #FFF;
}

a:hover, a:active {
    color: #888;
    cursor: pointer;
}

.main-content {
    padding: 30px;
    width: 750px;
    margin: auto;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#bio, #about, #contact {
    padding-top: 60px;
}

.bio, .about, .contact {
    border-left: 1px solid #ccc;
    padding-left: 20px;
    /* margin-bottom: 50px; */
    text-align: justify;
}

.bio-header {
    font-weight: 600;
}

p {
    line-height: 30px;
}

.bio img {
    height: 200px;
    width: 200px;
    display: block;
    margin-bottom: 30px;
    border-radius: 6px;
}

form {
    width: 70%;
    margin: auto;
}

label, input, textarea {
    display: block;
    width: 100%;
}

input, textarea {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 3px;
    margin: 5px 0 20px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    padding: 8px;
    background-color: #424141;
    color: #FFF;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    display: block;
    cursor: pointer;
}

.footer {
    height: 120px;
    bottom: 0;
    background-color: #424141;
}

.footer p {
    color: #FFF;
    text-align: center;
    line-height:60px;
    width: 100%;
}

@media ( max-width: 768px ) {
    * {
        font-size: 15px;
    }

    .main-content {
        width: 100%;
    }

    .bio img {
        margin: 0 auto 30px;
    }

    .bio, .about, .contact {
        text-align: left;
    }

    form {
        width: 100%;
    }
}